{% extends 'base.html.twig' %}

{% block title %}ActMail index{% endblock %}

{% block body %}
    <h1>ActMail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Date</th>
                <th>Type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for act_mail in act_mails %}
            <tr>
                <td>{{ act_mail.id }}</td>
                <td>{{ act_mail.description }}</td>
                <td>{{ act_mail.date ? act_mail.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ act_mail.type }}</td>
                <td>
                    <a href="{{ path('act_mail_show', {'id': act_mail.id}) }}">show</a>
                    <a href="{{ path('act_mail_edit', {'id': act_mail.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('act_mail_new') }}">Create new</a>
{% endblock %}